## Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados

In [6]:
m= 1931549
print("Patricia "+ str(m))

Patricia 1931549

## Ejericio 2:
Crea un input que pida dos numeros y crea una calculadora con los operadores basicos

In [16]:
n1= int(input("Ingresa el primer numero"))
n2= int(input("Ingresa el segundo numero"))

print("Suma: ", n1+n2)
print("Resta: ", n1-n2)
print("Multiplicación: ", n1*n2)
print("Division: ", n1/n2)
print("Exponente: ", n1**n2)

Ingresa el primer numero4
Ingresa el segundo numero2
Suma:  6
Resta:  2
Multiplicación:  8
Division:  2.0
Exponente:  16

## Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [17]:
i=3
c=0
while i<=30:
    print(i,i+c)
    c=i
    i=i+3

3 3
6 9
9 15
12 21
15 27
18 33
21 39
24 45
27 51
30 57

## Ejercicio 4:
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [49]:
n= int(input("Introduzca un numero:"))

r=n%2
if r == 0:
    print ("El numero es par")
else:
    print ("El numero es impar")
    

c=0
for i in range(1, n+1):
    if(n%i)==0:
        c= c+1
if c==2:
    print("El numero es primo")
else:
    print("El numero no es primo")

Introduzca un numero:3
El numero es impar
El numero es primo

## Ejercicio 5:
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [54]:
def suma(x,y):
    return x+by
def resta(x,y):
    return x-y
def mult(x,y):
    return x*y
def divi(x,y):
    return x/y
s=0
while s != 1:
    input()
    x = int(input("Introduzca primer numero:" ))
    y = int(input("Introduzca segundo numero: "))
    print("1.Suma 2.Resta 3.Multiplicacion 4.Division 5.Salir")
    op = int(input("Seleccione una opcion:" ))
    if op==1:
         print("Resultado: ",suma(x,y))
    elif op==2:
        print("Resultado: ",resta(x,y))
    elif op==3:
        print("Resultado: ",mult(x,y))
    elif op==4:
        print("Resultado: ",divi(x,y))
    elif op==5:
        print("Adios")
        s=1
    else:
        print("Opcion no valida")

Introduzca primer numero:2
Introduzca segundo numero: 3
1.Suma 2.Resta 3.Multiplicacion 4.Division 5.Salir
Seleccione una opcion:3
Resultado:  6

Introduzca primer numero:2
Introduzca segundo numero: 2
1.Suma 2.Resta 3.Multiplicacion 4.Division 5.Salir
Seleccione una opcion:5
Adios

# Ejercicios con estructuras básicas de python.
## Tuplas

    * Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
    * Crear una tupla con valores enteros imprimir el primer y ultimo valor.
    * Añadir 3 valores de string a la tupla.
    * Verificar si una variable existe dentro de la tupla.

In [63]:
f=10.25
inte=7
b=False
c=2+5j

print(type(f), type(inte), type(b), type(c))

a=(1,2,3,4,5)
print(a[0]," , ", a[-1])

<class 'float'> <class 'int'> <class 'bool'> <class 'complex'>
1  ,  5

In [64]:
a=a+("hola","como","estas")
a

(1, 2, 3, 4, 5, 'hola', 'como', 'estas')

In [65]:
5 in a

True

## Listas
    *Crear una lista con 40 elementos aleatorios enteros.
    *Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
    *Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
    *Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
    *Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [66]:
from random import randint
l=[randint(1, 50) for i in range(40)]
l

[30,
 25,
 18,
 1,
 19,
 41,
 37,
 49,
 31,
 10,
 20,
 19,
 10,
 41,
 15,
 30,
 25,
 1,
 44,
 25,
 24,
 35,
 47,
 33,
 17,
 19,
 36,
 30,
 3,
 41,
 37,
 2,
 41,
 13,
 37,
 20,
 38,
 9,
 7,
 4]

In [72]:
def separador(l):
    lim=len(l)
    pares=[]
    impares=[]
    for i in range(lim):
        if l[i]%2==0:
            pares.append(l[i])
        else:
            impares.append(l[i])
    return pares,impares
pares, impares=separador(l)
print("pares=", pares)
print("impares=",impares)

pares= [30, 18, 10, 20, 10, 30, 44, 24, 36, 30, 2, 20, 38, 4]
impares= [25, 1, 19, 41, 37, 49, 31, 19, 41, 15, 25, 1, 25, 35, 47, 33, 17, 19, 3, 41, 37, 41, 13, 37, 9, 7]

In [74]:
long_pares=len(pares)
long_impares=len(impares)
print("Longitudes:")
print("Pares=", long_pares)
print("Impares=",long_impares)

Longitudes:
Pares= 14
Impares= 26

In [75]:
pares.sort(reverse=True)
impares.sort()
print("Pares=", pares)
print("Impares=",impares)

Pares= [44, 38, 36, 30, 30, 30, 24, 20, 20, 18, 10, 10, 4, 2]
Impares= [1, 1, 3, 7, 9, 13, 15, 17, 19, 19, 19, 25, 25, 25, 31, 33, 35, 37, 37, 37, 41, 41, 41, 41, 47, 49]

In [77]:
import random as rd
l_ej=rd.sample(l,5)
print(l_ej)

l_ej.reverse()
print(l_ej)


l_ej.insert(1, "Patricia")
print(l_ej)


l_ej.append(52)
print(l_ej)

l_ej.pop(2)
print(l_ej)

[25, 36, 2, 37, 41]
[41, 37, 2, 36, 25]
[41, 'Patricia', 37, 2, 36, 25]
[41, 'Patricia', 37, 2, 36, 25, 52]
[41, 'Patricia', 2, 36, 25, 52]

## Diccionario

    *Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
    *Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
    *Usando el diccionario y un loop, imprimir solo los nombres.
    *Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [78]:
dic={"Patricia":21, "Ivan":24, "Jorge":20, "Elena":22, "Paola":24, "Sebastian":23}
dic

{'Patricia': 21,
 'Ivan': 24,
 'Jorge': 20,
 'Elena': 22,
 'Paola': 24,
 'Sebastian': 23}

In [79]:
edad=[i for i in dic.values()]
edad.sort()
print(edad)

[20, 21, 22, 23, 24, 24]

In [80]:
for i in dic:
    print(i)

Patricia
Ivan
Jorge
Elena
Paola
Sebastian

In [81]:
dic["Fernanda"]=21
dic["Roberto"]=20
dic

{'Patricia': 21,
 'Ivan': 24,
 'Jorge': 20,
 'Elena': 22,
 'Paola': 24,
 'Sebastian': 23,
 'Fernanda': 21,
 'Roberto': 20}

## Sets
    *Crea un set con 100 numeros aleatorios enteros del 1 al 25.
    *Comprueba la longitud de tu set.
    *Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [88]:
set1 =[randint(1, 25) for i in range(100)]
set1

[22,
 21,
 13,
 18,
 24,
 12,
 5,
 10,
 12,
 10,
 5,
 6,
 10,
 12,
 18,
 17,
 10,
 20,
 17,
 11,
 2,
 6,
 24,
 21,
 15,
 13,
 10,
 5,
 9,
 17,
 9,
 20,
 12,
 13,
 15,
 20,
 21,
 24,
 11,
 10,
 23,
 9,
 20,
 10,
 8,
 18,
 16,
 23,
 20,
 8,
 24,
 8,
 7,
 12,
 21,
 11,
 11,
 18,
 19,
 16,
 5,
 5,
 10,
 1,
 8,
 8,
 13,
 12,
 25,
 19,
 17,
 25,
 15,
 4,
 21,
 23,
 22,
 16,
 10,
 22,
 3,
 6,
 4,
 11,
 19,
 5,
 6,
 14,
 21,
 10,
 11,
 15,
 19,
 15,
 22,
 10,
 25,
 12,
 11,
 19]

In [90]:
print(len(set1))

100

In [93]:
setnew=[randint(1, 10) for i in range(5)]
print(setnew)
for i in range(5):
    if setnew[i] in set1:
        print("El numero ", setnew[i],"aparece en el set inicial")
    else:
        print("El numero ", setnew[i],"no aparece en el set inicial")

[4, 2, 9, 3, 7]
El numero  4 aparece en el set inicial
El numero  2 aparece en el set inicial
El numero  9 aparece en el set inicial
El numero  3 aparece en el set inicial
El numero  7 aparece en el set inicial